.main{
    width: 75%;
    background-color: rgba(0, 0, 0, 0.477);
    height: inherit;
    border-radius: 15px;
    overflow: hidden;
}
.main-section{
    margin: 0vh 0vw 0vh 2vw;
    padding-right: 2.2vw;
    padding-top: 2.5vh;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.banner{
    display: grid;
    margin: 0 auto;
    grid-template-areas: "logo list list" "logo title title" "logo play view";
    grid-template-rows: 20% 33% auto;
    max-width: 85%;
    height: 15vw;
    border-radius: 15px;
    padding: 2.5vw;
    background-image: linear-gradient(315deg, #03e5b84b 0%, #037cde54 74%);
}
.banner > .img{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner > .img img{
    max-width: 14vw;
}
.banner > p{
    grid-area: list;
    display: flex;
    align-items: center;
    font-size: 1.6vw;
    font-weight: 200;
    padding-left: 1vw;
}
.banner > h1{
    grid-area: title;
    font-size: 2.8vw;
    padding-left: 1vw;
    line-height: 55px;
}
.banner > .button{
    grid-area: play;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner > .button button{
    width: 8.3vw;
    background-color: #245f6a;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    font-weight: 400;
    padding: 1vw;
    border-radius: 2vw;
    transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    cursor: pointer;
}
.banner > .button button:hover{
    background-color: #2f808eae;
    box-shadow: 0vw 0vw 1vw 0.2vw rgba(0, 255, 255, 0.268);
}
.banner > .button button:active{
    background-color: #2f808e;
    box-shadow: 0vw 0vw 2vw 0.5vw rgba(0, 255, 255, 0.268);
}
.banner > .button img{
    max-width: 8vw;
    padding-left: 0.8vw;
}
.banner > .a{
    grid-area: view;
    display: flex;
    align-items: center;
}
.banner > .a a{
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: 200;
}
.banner > .a > a:hover{
    text-decoration:underline;
}
.main-nav{
    background-color: #83838333;
    height: 6vh;
    padding: 0vh 1vw;
}
.main-nav img{
    padding: 1.5vh 0.8vw;
}
.playlist-title{
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 3.5vh 2.5vw 2vh 2.5vw;
}
.playlist-title img{
    width: 2vw;
}
.playlist-title label{
    font-size: 1.5vw;
    font-weight: 200;
}
.all-playlists{
    max-width: 100%;
    margin-left: 1.5vw;
    padding: 0vh 0vw 0vh 2vw;
    align-items: center;
}
.playlist{
    position: relative;
    display: inline-block;
    padding: 1vw;
    margin: 1.2vh 0.6vw;
    width: 12.1vw;
    border-radius: 10px;
    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #1d1618 0%, #009ec228 74%);
    transition: background-image 200ms ease-in-out;
}
.playlist:hover{
    background-image: linear-gradient(315deg, #2e2326 0%, #009ec245 74%);
}
.playlist img{
    width: 12vw;
    border-radius: 10px;
}
.playlist h3{
    padding-left: 0.4vw;
    font-size: 1vw;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist p{
    padding-left: 0.4vw;
    font-size: 0.8vw;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playBtn{
    position: absolute;
    top: 60%;
    left: 62%;
    width: 3.6vw;
    opacity: 0;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
.playBtn img{
    width: 3.4vw;
    background-color: #3c9cadab;
    border-radius: 30px;
}
.playlist:hover .playBtn{
    transform: translate(0%, -45%);
    opacity: 1;
}
.playBtn img:hover{
    background-color: #3c9cad;
    width: inherit;
}